############################  WHOISCLICKING ##################################
.env
.vscode
denon.yml
docker-compose.override.yml

############################  BACKEND ##################################

backend/links-api/logs.txt
backend/qr-api/qrs/*.png

############################  FRONTEND ##################################
# dependencies
frontend/home-ui/node_modules
frontend/home-ui/.pnp
frontend/home-ui/.pnp.js

# testing
frontend/home-ui/coverage

# production
frontend/home-ui/build

# misc
frontend/home-ui/.DS_Store
frontend/home-ui/.env.local
frontend/home-ui/.env.development.local
frontend/home-ui/.env.test.local
frontend/home-ui/.env.production.local
frontend/home-ui/npm-debug.log*
frontend/home-ui/yarn-debug.log*
frontend/home-ui/yarn-error.log*


############################  INFRA ##################################
infra/mongo-db/data/*
infra/mongo-db/log/*

infra/nginx/logs/*