############################  WHOISCLICKING ##################################
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.log

############################  BACKEND ##################################

backend/links-api/logs.txt

############################  FRONTEND ##################################
# dependencies
frontend/home-ui/node_modules
frontend/home-ui/.pnp
frontend/home-ui/.pnp.js
frontend/home-ui/package-lock.json

# testing
frontend/home-ui/coverage

# production
frontend/home-ui/build

# misc
frontend/home-ui/.DS_Store
frontend/home-ui/.env.local
frontend/home-ui/.env.development.local
frontend/home-ui/.env.test.local
frontend/home-ui/.env.production.local
frontend/home-ui/npm-debug.log*
frontend/home-ui/yarn-debug.log*
frontend/home-ui/yarn-error.log*

# dependencies
frontend/dashboard-ui/node_modules
frontend/dashboard-ui/.pnp
frontend/dashboard-ui/.pnp.js
frontend/dashboard-ui/package-lock.json

# testing
frontend/dashboard-ui/coverage

# production
frontend/dashboard-ui/build

# misc
frontend/dashboard-ui/.DS_Store
frontend/dashboard-ui/.env.local
frontend/dashboard-ui/.env.development.local
frontend/dashboard-ui/.env.test.local
frontend/dashboard-ui/.env.production.local
frontend/dashboard-ui/npm-debug.log*
frontend/dashboard-ui/yarn-debug.log*
frontend/dashboard-ui/yarn-error.log*


############################  INFRA ##################################
infra/mongo-db/data/*
infra/mongo-db/log/*
