version: '3.7'

services:

  links-api:
    container_name: links-api
    build:
      context: ./backend/links-api
    restart: on-failure
    depends_on:
      mongo-db:
        condition: service_healthy
    init: true
    environment:
      LINKS_URL: $LINKS_URL
      DB_NAME: $DB_NAME
      QR_URL: $QR_URL
      MONGODB_URL: $MONGODB_URL
      MONGODB_USER: $MONGODB_USER
      MONGODB_PASS: $MONGODB_PASS
      BACKEND_VERSION: $BACKEND_VERSION
    networks:
      wic_backend:
        aliases: 
          - links-api_ip
  qr-api:
    container_name: qr-api
    build:
      context: ./backend/qr-api
    restart: on-failure
    depends_on:
      links-api:
        condition: service_healthy
    networks:
      wic_backend:
        aliases: 
          - qr-api_ip

  mongo-db:
    container_name: mongo-db
    build:
      context: ./infra/mongo-db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_ROOT_USER
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_ROOT_PASS
      MONGO_INITDB_DATABASE: $DB_NAME
      MONGO_INITDB_USERNAME: $MONGODB_USER
      MONGO_INITDB_PASSWORD: $MONGODB_PASS
    networks:
      wic_backend:
        aliases: 
          - mongo-db_ip


  nginx:
    container_name: nginx
    build: 
      context: ./infra/nginx
    restart: always
    tty: true
    depends_on:
      links-api:
        condition: service_healthy
    networks:
      wic_backend:
        aliases:
          - nginx_ip
      wic_frontend:
        aliases:
          - nginx_ip

volumes: {}

networks:
  wic_backend:
    name: wic_net
    driver: bridge
    ipam:               #ip address management
      driver: default
  wic_frontend:
      name: wic_frontend
      driver: bridge
      ipam:               #ip address management
        driver: default