version: '3.7'

services:

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    restart: on-failure
    depends_on:
      - backend
    command: npm start
    stdin_open: true
    tty: true
    volumes:
      - ./frontend/src:/usr/app/src
    ports:
      - '3000:3000'
    networks:
      wic_network:
        aliases: 
          - frontend_ip

  backend:
    build:
      context: ./backend
    restart: on-failure
    depends_on:
      - mongodb
    container_name: backend
    command: denon start
    init: true
    environment:
      - URL=${URL}
      - PORT=${PORT}
      - MONGO_URL=${MONGO_URL}
      - DB_NAME=${DB_NAME}
      - MONGODB_USER=${MONGODB_USER}
      - MONGODB_PASS=${MONGODB_PASS}
      - BACKEND_VERSION=${BACKEND_VERSION}
    volumes:
      - ./backend/src:/usr/app/src
      - ./backend/mod.ts:/usr/app/mod.ts
    ports:
      - '8000:8000'
    networks:
      wic_network:
        aliases: 
          - backend_ip

  mongodb:
    image: mongo:5.0.8
    restart: always
    container_name: mongodb
    volumes:
      - mongodb:/data/db
    ports:
      - '27017:27017'
    networks:
      wic_network:
        aliases: 
          - mongodb_ip

  jenkins:
    image: jenkins/jenkins:2.350-alpine
    restart: always
    container_name: jenkins
    depends_on:
      - backend
      - frontend
      - mongodb
    volumes:
      - ./jenkins/home:/var/jenkins_home
    ports:
      - '8080:8080'
      - '50000:50000'
    networks:
      wic_network:
        aliases:
          - jenkins_ip

  nginx:
    image: nginx:1.21.6-alpine
    restart: always
    container_name: nginx
    depends_on:
      - frontend
    volumes:
      - ./nginx:/etc/nginx/
    ports:
      - '4000:80'
      - '443:443'
    networks:
      wic_network:
        aliases:
          - nginx_ip
  
volumes:
  mongodb: {}
  jenkins: {}
  nginx: {}
  frontend: {}
  backend: {}

networks:
  wic_network:
    name: wic_net
    driver: bridge
    ipam:               #ip address management
      driver: default
