.purpleButton {
    font-size: 1.5rem;
    color: white;
    background-color: #3d5afe;
    outline-width: 1rem;
    box-shadow: 0 0.125rem 0.125rem 0 #263238;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}
.purpleButton:hover {
    background: #304ffe;
    color: #18ffff;
}

/* Button Sizes*/
/*
.--loginNavbar{
    width: ;
    height: ;
    padding: 10px 22px;
}*/
.--loginPage {
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    width: 50%;
    border-radius: 5rem;
}
.--linksGenerator {
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    width: 100%;
    border-radius: 5rem;
}